/* Colors and Fonts */
body {
  background: #ffbbbb;
  color: rgb(55, 55, 55);
  font-family: Arial, sans-serif;
  font-size: 17px;
}

h1 {
  color: #b10404;
}

.bold {
  font-weight: bold;
}

h2 {
  color: #b10404;
}

a {
  text-decoration: none;
  color: white;
}

/* Custom Design */
.container {
  max-width: 90%;
  width: 700px;
  margin: 0px auto;
  padding: 40px;
}

/* Card Design */
.card-white {
  position: relative; /* Permet de positionner l'icône à l'intérieur */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre le texte */
  text-align: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px 0px;
}

h2 {
  position: relative;
  display: inline-block;
  width: 100%;
}

h2 i {
  position: absolute;
  left: 20px; /* Distance par rapport au bord gauche */
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

/* Responsive Images */
.images-circle {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

/* Button */
.btn {
  background-color: #b10404;
  color: white;
  margin: 20px;
  padding: 15px 20px;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
}

.btn:hover {
  background-color: #c14600;
  color: white;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
}

.carousel-item {
  flex: none;
  width: 90%;
  height: 300px;
  position: relative;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-inline {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Centre les icônes */
  gap: 15px; /* Espacement entre les icônes */
  margin-top: 10px;
}

.list-inline li {
  display: inline-block;
}

.list-inline i {
  font-size: 30px; /* Agrandit les icônes */
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    max-width: 95%;
    padding: 20px;
    margin: 20px auto;
  }

  .card-white {
    padding: 20px;
  }

  .images-circle {
    height: 150px;
    width: 150px;
  }

  .btn-orange {
    padding: 12px 16px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .images-circle {
    height: 120px;
    width: 120px;
  }

  .btn-orange {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}
